
.outerBox {
    max-width: 451px;
    height: 454px;
    position: relative;
    margin: 10px auto;    
    background:  #453a36;
    border: solid 3px #453a36;

}

.outerBox > div { float: right; }

.topRight {
    background: #ec4938;
    width: 330px;         
    height: 327px;       
    margin-left: 10px;  
    margin-bottom: 0px;
}

.white { background: #fef9e6; }

#whiteBox {
    width: 110px;        
    height: 135px;        
    margin-bottom: 20px;  
}

#whiteBox2 {
    width: 110px;         
    height: 170px;        
    margin-bottom: 10px;  
}

#whiteBox3 {
    width: 15px;         
    height: 50px;        
    margin-bottom: 20px; 
}

.botomRight {
    background: yellow;
    width: 15px;  
    height: 50px; 
}

#whiteBottom {
    width: 305px;    
    height: 118px;     
    margin-left: 10px;  
    margin-right: 10px; 
}

.leftBottom {
    background: #409cc5;
    width: 110px; 
    height: 119px;
}